<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>UserLogin</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminAuth</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UserAuth</filter-name>
        <filter-class>filter.UserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserLogin</filter-name>
        <servlet-name>MemberLogin</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminAuth</filter-name>
        <url-pattern>/ListAllMembers</url-pattern>
        <url-pattern>/admin/list-all-members.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuth</filter-name>
        <url-pattern>/member-dashboard.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ListAllMembers</servlet-name>
        <servlet-class>controller.ListAllAppliedMembers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberLogin</servlet-name>
        <servlet-class>controller.MemberDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeClaim</servlet-name>
        <servlet-class>controller.MakeClaim</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>controller.RegisterUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakePayment</servlet-name>
        <servlet-class>controller.MakePayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllClaims</servlet-name>
        <servlet-class>controller.ListAllClaims</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateClaim</servlet-name>
        <servlet-class>controller.UpdateClaim</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMemberStatus</servlet-name>
        <servlet-class>controller.UpdateMemberStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListMembers</servlet-name>
        <servlet-class>controller.ListMembers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClaimCharge</servlet-name>
        <servlet-class>controller.ClaimCharge</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListAllMembers</servlet-name>
        <url-pattern>/ListAllMembers.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberLogin</servlet-name>
        <url-pattern>/MemberLogin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeClaim</servlet-name>
        <url-pattern>/MakeClaim.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/RegisterUser.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakePayment</servlet-name>
        <url-pattern>/MakePayment.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllClaims</servlet-name>
        <url-pattern>/ListAllClaims.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateClaim</servlet-name>
        <url-pattern>/UpdateClaim.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMemberStatus</servlet-name>
        <url-pattern>/UpdateMemberStatus.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListMembers</servlet-name>
        <url-pattern>/ListMembers.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClaimCharge</servlet-name>
        <url-pattern>/ClaimCharge.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
